{% extends "homepage.html" %}

{% block title %}
    Fléshi - Criar Conta
{% endblock %}

{% block body %}
   <img src="{{ url_for('static', filename='site_photos/logo/128px.png') }}" alt="Logo" class="center-logo">
    <h1 class="text-center mt-2">Criar conta</h1>
    <h3 class="text-center mt-3 font-color">Seja bem vindo(a) ao Fléshi!</h3>
    {% block form %}
    <div class="d-flex justify-content-center">
        <div class="border m-5 shadow-lg rounded-5 p-5 w-25">
            <form method="post">
                {{ form.csrf_token }}
                <div class="mb-3 w-100">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control") }}
                </div>

                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}
                {% endif %}

                <div class="mb-3 w-100">
                    {{ form.username.label(class="form-label") }}
                    {{ form.username(class="form-control") }}
                </div>
                    {% if form.username.errors %}
                        {% for error in form.username.errors %}
                            <p class="alert alert-danger">{{ error }}</p>
                        {% endfor %}
                    {% endif %}

                <div class="mb-3 w-100">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control") }}
                </div>
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}
                {% endif %}

                <div class="mb-3 w-100">
                    {{ form.confirm_password.label(class="form-label") }}
                    {{ form.confirm_password(class="form-control") }}
                </div>

                {% if form.confirm_password.errors %}
                    {% for error in form.confirm_password.errors %}
                        <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}
                {% endif %}

                {{ form.submit(class="w-100 mb-3 custom-btn p-2 rounded-3") }}
            </form>
            <a href="{{ url_for('homepage') }}" class="text-center">Tem uma conta? Faça login</a>
        </div>
    </div>
    {% endblock %}
{% endblock %}
