<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
{% block body %}
    <body>
        <h1>Fléshi - Página Inicial</h1>

        {% block form %}
            <form method="post">
            {{ form.csrf_token }}
            {{ form.email.label() }}
            {{ form.email() }}

            {{ form.password.label() }}

            {{ form.submit() }}
            </form>
        {% endblock %}
    </body>
{% endblock %}
</html>