{% extends "homepage.html" %}

{% block title %}
    Fléshi - Perfil
{% endblock %}

{% block body %}

{% include "navbar.html" %}

<div class="container mt-5">

    <h1 class="text-center mb-4">Perfil do usuário: {{ username }}</h1>

    {% if form %}
    <div class="card p-3 mb-4 shadow-sm">
        <form method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}

            <div class="mb-3">
                {{ form.photo(class="form-control") }}
            </div>

            <div>
                {{ form.submit(class="btn btn-primary w-100") }}
            </div>
        </form>
    </div>
    {% endif %}

    <div class="row g-3">
        {% for photo in user.photos %}
        <div class="col-6 col-md-4 col-lg-3">
            <div class="photo-card shadow-sm p-2 rounded">
                <img
                    src="{{ url_for('static', filename='posts_photos/' ~ photo.file_name) }}"
                    alt="Imagem"
                    class="img-fluid rounded">

                 <form action="{{ url_for('delete', photo_id=photo.id)}}" method="post" class="mt-2">
                        <button type="submit" class="delete-btn btn border-0 bg-transparent p-2">
                            <img src="{{ url_for('static', filename='site_photos/delete.png') }}" alt="Lata de lixo">
                        </button>
                    </form>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}
