{% extends "homepage.html" %}

{% block title %}
    Fléshi - Perfil de {{ user.username }}
{% endblock %}

{% block body %}

{% include "navbar.html" %}

<div class="container mt-5">

    <h1 class="text-center mb-4">Perfil do usuário: {{ user.username }}</h1>

    {% if form %}
    <div class="card p-3 mb-4 shadow-sm">
        <h2 class="text-center mb-3">Postar Foto</h2>
        <form method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}

            <div class="mb-3">
                {{ form.photo(class="form-control") }}
            </div>

            <div>
                {{ form.submit(class="btn btn-primary w-100") }}
            </div>
        </form>
    </div>
    {% endif %}

    <h2 class="text-center mt-5 mb-4">Minhas Publicações</h2>

    <div class="row g-5">
        {% for photo in user.photos %}
        <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center">
            <div class="border rounded-3 p-3" style="width: 430px;">
                    <img src="{{ url_for('static', filename='posts_photos/' ~ photo.file_name) }}"
                         alt="Imagem de {{ user.username }}"
                         style="width: 100%; height: 220px; object-fit: cover; display: block; border-radius: 8px;x">

                {% if user.id == current_user.id %}
                    <!-- Se for o próprio perfil: Mostra delete -->
                    <form action="{{ url_for('delete', photo_id=photo.id) }}" method="post" class="mt-2">
                        <button type="submit" class="btn border-0 bg-transparent p-2">
                            <img src="{{ url_for('static', filename='site_photos/delete.png') }}"
                                 alt="Lata de lixo" width="30px">
                        </button>
                    </form>
                {% else %}
                    <!-- Se for perfil de terceiros: Mostra like -->
                    <form action="{{ url_for('like_photo', photo_id=photo.id) }}"
                          method="post" class="mt-2 text-center">
                        <input type="hidden" name="next_page" value="{{ url_for('profile', user_id=user.id) }}">
                        <button type="submit" class="btn border-0 bg-transparent p-2">
                            {% if photo.user_liked %}
                                <img src="{{ url_for('static', filename='site_photos/full-star.png') }}" width="20px">
                            {% else %}
                                <img src="{{ url_for('static', filename='site_photos/empty-star.png') }}" width="20px">
                            {% endif %}
                        </button>
                        <span class="likes-count">{{ photo.likes | length }}</span>
                    </form>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    {% if not user.photos %}
        <p class="text-center mt-5 text-muted">Nenhuma foto publicada ainda.</p>
    {% endif %}

</div>

{% endblock %}
