.feed-photo {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.photo-card {
    width: 430px;
}

.likes-count {
  position: relative;
  top: 5px;
}
